@import '../../styles/colors';

.user-table {
    margin: 0;
    list-style-type: none;
    padding: 0;
  
    &-row {
        display: grid;
        grid-template-columns: auto 70px;
        padding: 10px 15px;
        border-bottom: $border-color 2px solid;

        &.--selected {
            background-color: $highlight-white-color;
        }
    }
}