$primary-color: #0072bc;
$white-text-color: #f4f4f4;
$border-color: #d0d0d0;
$highlight-white-color: #cdcdcd;
// Buttons
$primary-color: #007bff;
$secondary-color: #5A6268;
$success-color: #28a745;
$danger-color: #dc3545;
