<div id="container">
  <div id="header" class="banner">
    {{title}}
  </div>
    
  <div class="action-row">
    <div class="action-row__label">
      Name
    </div>
    <div>
      <input [(ngModel)]="name" [readonly]="readOnly" type="text"  style="width: 100%" >
    </div>
  </div>
  <div class="action-row">
    <div class="action-row__label">
      Password
    </div>
    <div>
      <input [(ngModel)]="password" placeholder="••••" [readonly]="readOnly" type="password"  style="width: 100%">
    </div>
  </div>
  <div class="action-row">
      <span class="action-row__label">
        Is Admin
      </span>
      <span>
          <select [(ngModel)]="isAdmin" [disabled]="readOnly || !canSetAdmin" (change)="onIsAdminSelected()">
              <option value="true">Yes</option>
              <option value="false">No</option>
          </select>
        </span>
  </div>
  <!-- Buttons-->
  <action-buttons 
                  [showCancel]='true'
                  (cancelClicked)='cancelClicked()'
                  [showSave]='canSave'
                  (saveClicked)='saveClicked()'
                  [showRemove]='deleteMode'
                  (removeClicked)='removeClicked()'
                  [showAdd]='canAdd'
                  (addClicked)='addClicked()'>
  </action-buttons>
</div>